/* CSS Reset  */

html{
    scroll-behavior: smooth;
    font-family: 'Unbounded', 'arial';
}
body{
    margin: 0;
}

/* Head Of The Page */

.mar{
        margin-top: 7em;
        box-sizing: border-box;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1.5em;
}
@media only screen and (min-width:1200px){
    .mar{
        max-width: 1200px;
    }
}
#logos a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    width: 10rem;
    height: 1rem;
}
.logo{
    height: 20px;
    padding-right: 14px;
}
.text-logo{
    letter-spacing: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #4b4b4b;
    transition: 0.12s ease-out;
}
.text-logo:hover{
    letter-spacing: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #e0859a;
}
.maintext{
    font-weight: bold;
    font-size: 2.6rem;
    color: #4b4b4b;
    padding-top: 1rem;
}
.maintext a{
    text-decoration: none;
    color: #4b4b4b;
    transition: 0.12s ease-out;
}
.maintext a:hover{
    text-decoration: none;
    color: #e0859a;
}
.subtext{
    color: #4b4b4b;
    margin-top: 2.5rem;
    margin-bottom: 80px;
    font-weight: lighter;
}

/* Body Of The Page  */

#bodies{
    margin-top: 7em;
}
.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 40px;
}
.boxes a{
    display: flex;
    align-items: center;
    height: auto;
    transform: scale(1.0);
}
.boxes img{
    border-radius: 5px;
    text-decoration: none;
}
.main-images{
    position: relative;
    text-align: center;
    border-radius: 5px;
}
.boxes > div{
    width: 100%;
}
@media only screen and (min-width: 500px){
    .boxes > div{
        width: calc(50% - 25px);
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width: 768px){
    .boxes > div{
        width: calc(33.3333333% - 25px);
    }
}
.text-trans{
    position: absolute;
    color: white;
    z-index: 3;
}
.text-overlay{
    letter-spacing: 4px;
    font-size: 0.995rem;
}
.main-images::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.85;
    border-radius: 5px;
    transform: scale(1.0);
    transition: 0.6s ease;
}
.main-images:hover::before{
    transform: scale(1.1);
    opacity: 0;
}
.imgres{
    width: 100%;
    height: auto;
}
#img-overlay1 .main-images::before{
    background-color: #e0859a;
}
#img-overlay2 .main-images::before{
    background-color: #7ac1ea;
}
#img-overlay3 .main-images::before{
    background-color: #6db3b1;
}
#img-overlay4 .main-images::before{
    background-color: #c3689c;
}
#img-overlay5 .main-images::before{
    background-color: #b68dc4;
}
#img-overlay6 .main-images::before{
    background-color: #8086c4;
}
#img-overlay7 .main-images::before{
    background-color: #7ac1ea;
}
#img-overlay8 .main-images::before{
    background-color: #6db3b1;
}
#img-overlay9 .main-images::before{
    background-color: #e0859a;
}
#img-overlay10 .main-images::before{
    background-color: #b68dc4;
}
#img-overlay11 .main-images::before{
    background-color: #8086c4;
}
#img-overlay12 .main-images::before{
    background-color: #c3689c;
}
.main-images p{
    font-size: 14px;
    visibility: hidden;
    font-weight: lighter;
    z-index: 3;
    font-size: 0.85rem;
}
.main-images img{
    transform: scale(1.0);
    transition: 0.6s ease;
}
.main-images:hover img{
    transform: scale(1.1);
}
.main-images:hover p{
    visibility: visible;

}
.main-images div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 3rem;
    transition: 0.3s ease;
}
.main-images:hover div{
    padding-top: 0rem;
}

/* End Of The Page  */

#foot{
    display: flex;
    letter-spacing: 6px;
    justify-content: space-between;
    margin-top: 7em;
}
@media only screen and (max-width: 500px){
    #foot{
        flex-direction: column;
    }
}
#form{
    flex-basis: 60%;
    
}
.getintouch{
    color: #4b4b4b;
    margin-bottom: 40px;
    margin-top: 130px;
}
#foot form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.forms{
    width: 48%;
}
.forms1{
    height: 7rem;
    width: 100%;
}
input{
    outline: 0;
    border-width: 0 0 0.9px;
    border-color:#4b4b4b;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #4b4b4b;
    font-family: 'Unbounded', cursive;
    width: 100%;
}
input:focus{
    border-color:#e0859a;
}
#name{
    background-color: #e9eded;
    padding-right: 2px;
}
#email{
    background-color: #e9eded;
}
#message{
    background-color: #e9eded;
}
.btn{
    padding: 18px 22px;
    border: none;
    background-color: #4b4b4b;
    color: white;
    margin-top: 35px;
    font-size: 0.85rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Unbounded', cursive;
    letter-spacing: 3px;
    transition: 0.12s ease-out;
}
.btn:hover{
    padding: 18px 22px;
    border: none;
    background-color: #e0859a;
    color: white;
    margin-top: 35px;
    font-size: 0.85rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Unbounded', cursive;
    letter-spacing: 3px;
}
.follow{
    color: #4b4b4b;
    margin-top: 130px;
}
#socials{
    flex-basis: 30%;
}
#socials ul{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0px;
    column-gap: 30px;
    row-gap: 30px;
}
#socials ul li{
    list-style: none;
}
.social a{
    border: 0.5px solid #4b4b4b;
    display: block;
    padding: 7px 9px;
    border-radius: 5px;
}
.social a:hover{
    border: 0.5px solid #e0859a;
    display: block;
    padding: 7px 9px;
    border-radius: 5px;
}
.social a:hover img{
    filter:invert(56%) sepia(23%) saturate(3207%) hue-rotate(-50deg) brightness(95%) contrast(80%);
}
.social img{
    flex-wrap: wrap;
    max-height: 25px;
    max-width: 25px;
    filter: invert(27%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(80%) contrast(80%);
    transition: 0.12s ease-out;
}

/* Foot Of The Page  */

footer{
    margin: 200px 125px;
}
.end{
    color: #7f7f7f;
    font-weight: lighter;
    font-size: 11px;
    padding-bottom: 7em;
}
.end a{
    text-decoration: none;
    font-weight: lighter;
    color: #7f7f7f;
    transition: 0.12s ease-out;
}
.end a:hover{
    color: #e0859a;
    font-weight: lighter;
}
#ending{
    margin: 0;
    padding: 0;
    background-color: #e9eded;
}